@inherits LayoutComponentBase

<div class="auth-layout">
  <article class="auth-layout-content">
    @Body
  </article>

  <!-- Fondo decorativo -->
  <div class="auth-bg orb orb-1"></div>
  <div class="auth-bg orb orb-2"></div>
</div>
