@implements IDisposable

@inject NavigationManager NavigationManager

<ul class="menu-list">
    <li>
        <NavLink class="menu-link" href="" Match="NavLinkMatch.All">
            <span class="menu-icon menu-icon-home" aria-hidden="true"></span>
            <span>Panel principal</span>
        </NavLink>
    </li>

    <AuthorizeView>
        <Authorized>
            <li class="menu-user">
                <span class="menu-icon menu-icon-user" aria-hidden="true"></span>
                <span>@context.User.Identity?.Name</span>
            </li>
            <li>
                <form action="Account/Logout" method="post" class="logout-form">
                    <AntiforgeryToken />
                    <input type="hidden" name="ReturnUrl" value="@currentUrl" />
                    <button type="submit" class="menu-link as-button">
                        <span class="menu-icon menu-icon-logout" aria-hidden="true"></span>
                        <span>Salir</span>
                    </button>
                </form>
            </li>
        </Authorized>
        <NotAuthorized>
            <li>
                <NavLink class="menu-link" href="Account/Login">
                    <span class="menu-icon menu-icon-login" aria-hidden="true"></span>
                    <span>Iniciar sesión</span>
                </NavLink>
            </li>
            <li>
                <NavLink class="menu-link" href="Account/Register">
                    <span class="menu-icon menu-icon-register" aria-hidden="true"></span>
                    <span>Crear cuenta</span>
                </NavLink>
            </li>
        </NotAuthorized>
    </AuthorizeView>
</ul>

@code {
    private string? currentUrl;

    protected override void OnInitialized()
    {
        currentUrl = NavigationManager.ToBaseRelativePath(NavigationManager.Uri);
        NavigationManager.LocationChanged += OnLocationChanged;
    }

    private void OnLocationChanged(object? sender, LocationChangedEventArgs e)
    {
        currentUrl = NavigationManager.ToBaseRelativePath(e.Location);
        StateHasChanged();
    }

    public void Dispose()
    {
        NavigationManager.LocationChanged -= OnLocationChanged;
    }
}
