@page "/avatar/logo"
@using Microsoft.AspNetCore.Components.Forms
@inject HttpClient Http
@inject IJSRuntime JS

<h3>Subir logo</h3>
<InputFile OnChange="UploadLogo" />
<div id="logoViewer" style="width:400px;height:400px;"></div>

@code {
    string empresa = "demo";
    string sede = "demo";

    private async Task UploadLogo(InputFileChangeEventArgs e)
    {
        var file = e.File;
        using var content = new MultipartFormDataContent();
        content.Add(new StreamContent(file.OpenReadStream(5 * 1024 * 1024)), "logo", file.Name);
        await Http.PostAsync($"/AvatarEditor/{empresa}/{sede}/logo", content);
        await JS.InvokeVoidAsync("avatarViewer.show", "logoViewer");
    }
}
